.vscode
.zig-cache/
zig-cli/
zig-out/
zig-pkg/
adgui/zig-pkg/
*.exe
*.pdb
*.DSK
*.COM
*.TXT
*.DAT
*.bin
*.IMG
*.COM
*.Z80
*.ASM
*.HLP
*.ps1
cdos/
tmp/
legacy/
release/
adgui/disks
.vscode
adgui/.vscode